In [1]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/customer_churn.csv')

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [9]:
df[pd.to_numeric(df.TotalCharges,errors='coerce').isnull()]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

In [10]:
df[df['TotalCharges'] != " "].shape

(7032, 21)

In [11]:
df.shape

(7043, 21)

In [12]:
df1 = df[df.TotalCharges != ' ']

In [13]:
df1.shape

(7032, 21)

In [14]:
df1.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [16]:
df1.TotalCharges = pd.to_numeric(df1.TotalCharges)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [18]:
df1.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [20]:
df1.drop(['customerID'],axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [21]:
df1.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [22]:
df1.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [23]:
df1['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [24]:
def unique_values(df):
  for col in df:
    if(df[col].dtypes == 'object'):
      print(f'{col}: {df[col].unique()}')

In [25]:
unique_values(df1)

gender: ['Female' 'Male']
Partner: ['Yes' 'No']
Dependents: ['No' 'Yes']
PhoneService: ['No' 'Yes']
MultipleLines: ['No phone service' 'No' 'Yes']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['No' 'Yes' 'No internet service']
OnlineBackup: ['Yes' 'No' 'No internet service']
DeviceProtection: ['No' 'Yes' 'No internet service']
TechSupport: ['No' 'Yes' 'No internet service']
StreamingTV: ['No' 'Yes' 'No internet service']
StreamingMovies: ['No' 'Yes' 'No internet service']
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: ['Yes' 'No']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn: ['No' 'Yes']

In [28]:
df1.replace('No phone service','NO',inplace=True)
df1.replace('No internet service','NO',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [30]:
df1.replace('NO','No',inplace=True)
df1.replace('NO','No',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [31]:
unique_values(df1)

gender: ['Female' 'Male']
Partner: ['Yes' 'No']
Dependents: ['No' 'Yes']
PhoneService: ['No' 'Yes']
MultipleLines: ['No' 'Yes']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['No' 'Yes']
OnlineBackup: ['Yes' 'No']
DeviceProtection: ['No' 'Yes']
TechSupport: ['No' 'Yes']
StreamingTV: ['No' 'Yes']
StreamingMovies: ['No' 'Yes']
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: ['Yes' 'No']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn: ['No' 'Yes']

In [32]:
yes_no_columns = ['Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity','OnlineBackup',
                  'DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','Churn']
for col in yes_no_columns:
    df1[col].replace({'Yes': 1,'No': 0},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [33]:
for col in df1:
    print(f'{col}: {df1[col].unique()}')

gender: ['Female' 'Male']
SeniorCitizen: [0 1]
Partner: [1 0]
Dependents: [0 1]
tenure: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
PhoneService: [0 1]
MultipleLines: [0 1]
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: [0 1]
OnlineBackup: [1 0]
DeviceProtection: [0 1]
TechSupport: [0 1]
StreamingTV: [0 1]
StreamingMovies: [0 1]
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: [1 0]
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges: [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges: [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn: [0 1]

In [34]:
df1['gender'].replace({'Female':1,'Male':0},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [35]:
df2 = pd.get_dummies(data=df1, columns=['InternetService','Contract','PaymentMethod'])
df2.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'PaperlessBilling', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [36]:
df2.sample(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
5471,1,0,0,0,29,1,1,0,0,0,...,0,1,0,1,0,0,0,0,1,0
400,1,0,0,0,32,1,0,0,0,0,...,0,0,1,0,1,0,1,0,0,0
4329,1,0,1,1,17,1,1,1,0,1,...,0,1,0,1,0,0,0,0,1,0
4149,0,0,1,0,71,0,0,0,1,0,...,1,0,0,0,0,1,0,0,1,0
6865,1,0,1,0,8,1,0,1,0,0,...,1,0,0,0,0,1,0,0,0,1

In [39]:
cols_to_scale = ['tenure','MonthlyCharges','TotalCharges']

from sklearn.preprocessing import MinMaxScaler 
scaler = MinMaxScaler()

df2[cols_to_scale] = scaler.fit_transform(df2[cols_to_scale])

In [40]:
X = df2.drop(['Churn'],axis=1)
y = df2.Churn

In [41]:
X.shape

(7032, 26)

In [42]:
y.shape

(7032,)

In [43]:
y.value_counts()

0    5163
1    1869
Name: Churn, dtype: int64

In [45]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=15, stratify=y)

In [48]:
from sklearn.metrics import confusion_matrix , classification_report

In [49]:
def ANN(X_train, y_train, X_test, y_test, loss, weights):
    model = keras.Sequential([
        keras.layers.Dense(26, input_dim=26, activation='relu'),
        keras.layers.Dense(15, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(optimizer='adam', loss=loss, metrics=['accuracy'])
    
    if weights == -1:
        model.fit(X_train, y_train, epochs=100)
    else:
        model.fit(X_train, y_train, epochs=100, class_weight = weights)
    
    print(model.evaluate(X_test, y_test))
    
    y_preds = model.predict(X_test)
    y_preds = np.round(y_preds)
    
    print("Classification Report: \n", classification_report(y_test, y_preds))
    
    return y_preds

In [50]:
y_preds = ANN(X_train, y_train, X_test, y_test, 'binary_crossentropy', -1)

Epoch 1/100
176/176 [==============================] - 1s 2ms/step - loss: 0.5003 - accuracy: 0.7440
Epoch 2/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4305 - accuracy: 0.7904
Epoch 3/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4228 - accuracy: 0.7964
Epoch 4/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4183 - accuracy: 0.7980
Epoch 5/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4149 - accuracy: 0.8011
Epoch 6/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4123 - accuracy: 0.8025
Epoch 7/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4101 - accuracy: 0.8039
Epoch 8/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4081 - accuracy: 0.8036
Epoch 9/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4074 - accuracy: 0.8044
Epoch 10/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4047 - accuracy: 0.8073
Epoch 11/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4037 - accuracy: 0.8064
Epoch 12/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4017 - accuracy: 0.8080
Epoch 13/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4009 - accuracy: 0.8069
Epoch 14/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3994 - accuracy: 0.8084
Epoch 15/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3987 - accuracy: 0.8100
Epoch 16/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3965 - accuracy: 0.8084
Epoch 17/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3957 - accuracy: 0.8107
Epoch 18/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3939 - accuracy: 0.8116
Epoch 19/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3939 - accuracy: 0.8148
Epoch 20/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3917 - accuracy: 0.8119
Epoch 21/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3907 - accuracy: 0.8151
Epoch 22/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3905 - accuracy: 0.8153
Epoch 23/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3894 - accuracy: 0.8174
Epoch 24/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3884 - accuracy: 0.8149
Epoch 25/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3869 - accuracy: 0.8137
Epoch 26/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3864 - accuracy: 0.8146
Epoch 27/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3862 - accuracy: 0.8160
Epoch 28/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3847 - accuracy: 0.8206
Epoch 29/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3849 - accuracy: 0.8160
Epoch 30/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3835 - accuracy: 0.8156
Epoch 31/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3835 - accuracy: 0.8180
Epoch 32/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3819 - accuracy: 0.8160
Epoch 33/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3812 - accuracy: 0.8196
Epoch 34/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3805 - accuracy: 0.8167
Epoch 35/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3807 - accuracy: 0.8172
Epoch 36/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3808 - accuracy: 0.8144
Epoch 37/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3784 - accuracy: 0.8162
Epoch 38/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3777 - accuracy: 0.8204
Epoch 39/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3780 - accuracy: 0.8199
Epoch 40/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3768 - accuracy: 0.8217
Epoch 41/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3765 - accuracy: 0.8203
Epoch 42/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3760 - accuracy: 0.8206
Epoch 43/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3751 - accuracy: 0.8180
Epoch 44/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3730 - accuracy: 0.8210
Epoch 45/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3739 - accuracy: 0.8213
Epoch 46/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3723 - accuracy: 0.8229
Epoch 47/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3731 - accuracy: 0.8224
Epoch 48/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3726 - accuracy: 0.8224
Epoch 49/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3716 - accuracy: 0.8217
Epoch 50/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3711 - accuracy: 0.8244
Epoch 51/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3704 - accuracy: 0.8228
Epoch 52/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3691 - accuracy: 0.8245
Epoch 53/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3687 - accuracy: 0.8242
Epoch 54/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3687 - accuracy: 0.8235
Epoch 55/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3690 - accuracy: 0.8247
Epoch 56/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3677 - accuracy: 0.8279
Epoch 57/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3670 - accuracy: 0.8238
Epoch 58/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3672 - accuracy: 0.8260
Epoch 59/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3661 - accuracy: 0.8272
Epoch 60/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3660 - accuracy: 0.8263
Epoch 61/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3657 - accuracy: 0.8228
Epoch 62/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3641 - accuracy: 0.8254
Epoch 63/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3650 - accuracy: 0.8267
Epoch 64/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3627 - accuracy: 0.8324
Epoch 65/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3634 - accuracy: 0.8281
Epoch 66/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3637 - accuracy: 0.8247
Epoch 67/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3630 - accuracy: 0.8265
Epoch 68/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3608 - accuracy: 0.8300
Epoch 69/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3614 - accuracy: 0.8283
Epoch 70/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3611 - accuracy: 0.8304
Epoch 71/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3604 - accuracy: 0.8268
Epoch 72/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3591 - accuracy: 0.8302
Epoch 73/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3604 - accuracy: 0.8260
Epoch 74/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3589 - accuracy: 0.8329
Epoch 75/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3584 - accuracy: 0.8329
Epoch 76/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3584 - accuracy: 0.8318
Epoch 77/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3579 - accuracy: 0.8334
Epoch 78/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3586 - accuracy: 0.8347
Epoch 79/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3571 - accuracy: 0.8306
Epoch 80/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3573 - accuracy: 0.8306
Epoch 81/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3562 - accuracy: 0.8329
Epoch 82/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3557 - accuracy: 0.8327
Epoch 83/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3544 - accuracy: 0.8345
Epoch 84/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3555 - accuracy: 0.8288
Epoch 85/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3541 - accuracy: 0.8295
Epoch 86/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3530 - accuracy: 0.8322
Epoch 87/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3527 - accuracy: 0.8313
Epoch 88/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3543 - accuracy: 0.8306
Epoch 89/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3536 - accuracy: 0.8350
Epoch 90/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3516 - accuracy: 0.8318
Epoch 91/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3520 - accuracy: 0.8366
Epoch 92/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3519 - accuracy: 0.8336
Epoch 93/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3509 - accuracy: 0.8359
Epoch 94/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3502 - accuracy: 0.8331
Epoch 95/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3497 - accuracy: 0.8359
Epoch 96/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3492 - accuracy: 0.8357
Epoch 97/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8348
Epoch 98/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3502 - accuracy: 0.8316
Epoch 99/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3502 - accuracy: 0.8364
Epoch 100/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8357
44/44 [==============================] - 0s 2ms/step - loss: 0.4968 - accuracy: 0.7775
[0.496820867061615, 0.7775408625602722]
Classification Report:
               precision    recall  f1-score   support

           0       0.81      0.91      0.86      1033
           1       0.62      0.42      0.50       374

    accuracy                           0.78      1407
   macro avg       0.72      0.66      0.68      1407
weighted avg       0.76      0.78      0.76      1407

In [51]:
# Class count
count_class_0, count_class_1 = df1.Churn.value_counts()

# Divide by class
df_class_0 = df2[df2['Churn'] == 0]
df_class_1 = df2[df2['Churn'] == 1]

In [52]:
count_class_0

5163

In [53]:
count_class_1

1869

In [54]:
df_class_0_under = df_class_0.sample(count_class_1)

df_class_test = pd.concat([df_class_0_under, df_class_1], axis=0)
df_class_test.shape

(3738, 27)

In [58]:
df_class_test.Churn.value_counts()

0    1869
1    1869
Name: Churn, dtype: int64

In [61]:
df_class_test.shape

(3738, 27)

In [62]:
X_under = df_class_test.drop('Churn',axis='columns')
y_under = df_class_test['Churn']

from sklearn.model_selection import train_test_split
X_train_under, X_test_under, y_train_under, y_test_under = train_test_split(X_under, y_under, test_size=0.2, random_state=15, stratify=y_under)

In [63]:
y_preds = ANN(X_train_under, y_train_under, X_test_under, y_test_under, 'binary_crossentropy', -1)

Epoch 1/100
94/94 [==============================] - 1s 2ms/step - loss: 0.5968 - accuracy: 0.7204
Epoch 2/100
94/94 [==============================] - 0s 2ms/step - loss: 0.5085 - accuracy: 0.7609
Epoch 3/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4930 - accuracy: 0.7699
Epoch 4/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4850 - accuracy: 0.7722
Epoch 5/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4799 - accuracy: 0.7742
Epoch 6/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4764 - accuracy: 0.7719
Epoch 7/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4732 - accuracy: 0.7759
Epoch 8/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4696 - accuracy: 0.7712
Epoch 9/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4681 - accuracy: 0.7763
Epoch 10/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4674 - accuracy: 0.7776
Epoch 11/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4669 - accuracy: 0.7783
Epoch 12/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4627 - accuracy: 0.7776
Epoch 13/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4612 - accuracy: 0.7756
Epoch 14/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4610 - accuracy: 0.7799
Epoch 15/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4575 - accuracy: 0.7809
Epoch 16/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4563 - accuracy: 0.7823
Epoch 17/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4554 - accuracy: 0.7863
Epoch 18/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4536 - accuracy: 0.7876
Epoch 19/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4520 - accuracy: 0.7873
Epoch 20/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4508 - accuracy: 0.7920
Epoch 21/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4491 - accuracy: 0.7900
Epoch 22/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4487 - accuracy: 0.7883
Epoch 23/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4470 - accuracy: 0.7926
Epoch 24/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4454 - accuracy: 0.7893
Epoch 25/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4455 - accuracy: 0.7930
Epoch 26/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4445 - accuracy: 0.7923
Epoch 27/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4429 - accuracy: 0.7913
Epoch 28/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4418 - accuracy: 0.7896
Epoch 29/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4408 - accuracy: 0.7913
Epoch 30/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4391 - accuracy: 0.7953
Epoch 31/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4375 - accuracy: 0.7967
Epoch 32/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4383 - accuracy: 0.7920
Epoch 33/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4364 - accuracy: 0.7960
Epoch 34/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4353 - accuracy: 0.7963
Epoch 35/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4343 - accuracy: 0.7997
Epoch 36/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4330 - accuracy: 0.7987
Epoch 37/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4328 - accuracy: 0.7963
Epoch 38/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4295 - accuracy: 0.8020
Epoch 39/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4302 - accuracy: 0.8000
Epoch 40/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4285 - accuracy: 0.8007
Epoch 41/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4276 - accuracy: 0.8010
Epoch 42/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4277 - accuracy: 0.8030
Epoch 43/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4261 - accuracy: 0.8057
Epoch 44/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4266 - accuracy: 0.8054
Epoch 45/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4237 - accuracy: 0.7990
Epoch 46/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4246 - accuracy: 0.8033
Epoch 47/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4210 - accuracy: 0.8057
Epoch 48/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4195 - accuracy: 0.8087
Epoch 49/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4200 - accuracy: 0.8064
Epoch 50/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4208 - accuracy: 0.8077
Epoch 51/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4175 - accuracy: 0.8087
Epoch 52/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4158 - accuracy: 0.8110
Epoch 53/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4157 - accuracy: 0.8077
Epoch 54/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4144 - accuracy: 0.8107
Epoch 55/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4140 - accuracy: 0.8107
Epoch 56/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4121 - accuracy: 0.8127
Epoch 57/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4117 - accuracy: 0.8090
Epoch 58/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4100 - accuracy: 0.8097
Epoch 59/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4131 - accuracy: 0.8110
Epoch 60/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4095 - accuracy: 0.8114
Epoch 61/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4095 - accuracy: 0.8171
Epoch 62/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4075 - accuracy: 0.8104
Epoch 63/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4060 - accuracy: 0.8167
Epoch 64/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4092 - accuracy: 0.8110
Epoch 65/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4043 - accuracy: 0.8161
Epoch 66/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4062 - accuracy: 0.8147
Epoch 67/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4032 - accuracy: 0.8154
Epoch 68/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4011 - accuracy: 0.8140
Epoch 69/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4023 - accuracy: 0.8177
Epoch 70/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4027 - accuracy: 0.8137
Epoch 71/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3987 - accuracy: 0.8207
Epoch 72/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4002 - accuracy: 0.8171
Epoch 73/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3993 - accuracy: 0.8207
Epoch 74/100
94/94 [==============================] - 0s 2ms/step - loss: 0.4013 - accuracy: 0.8184
Epoch 75/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3974 - accuracy: 0.8217
Epoch 76/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3977 - accuracy: 0.8224
Epoch 77/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3936 - accuracy: 0.8191
Epoch 78/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3936 - accuracy: 0.8234
Epoch 79/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3925 - accuracy: 0.8241
Epoch 80/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3930 - accuracy: 0.8241
Epoch 81/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3918 - accuracy: 0.8224
Epoch 82/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3900 - accuracy: 0.8268
Epoch 83/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3898 - accuracy: 0.8274
Epoch 84/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3899 - accuracy: 0.8268
Epoch 85/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3877 - accuracy: 0.8244
Epoch 86/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3896 - accuracy: 0.8234
Epoch 87/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3873 - accuracy: 0.8298
Epoch 88/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3862 - accuracy: 0.8311
Epoch 89/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3846 - accuracy: 0.8288
Epoch 90/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3843 - accuracy: 0.8298
Epoch 91/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3819 - accuracy: 0.8264
Epoch 92/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3845 - accuracy: 0.8281
Epoch 93/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3808 - accuracy: 0.8321
Epoch 94/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3816 - accuracy: 0.8278
Epoch 95/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3802 - accuracy: 0.8318
Epoch 96/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3789 - accuracy: 0.8358
Epoch 97/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3797 - accuracy: 0.8291
Epoch 98/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3793 - accuracy: 0.8304
Epoch 99/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3768 - accuracy: 0.8324
Epoch 100/100
94/94 [==============================] - 0s 2ms/step - loss: 0.3769 - accuracy: 0.8304
24/24 [==============================] - 0s 2ms/step - loss: 0.5808 - accuracy: 0.7366
[0.5807503461837769, 0.7366310358047485]
Classification Report:
               precision    recall  f1-score   support

           0       0.75      0.72      0.73       374
           1       0.73      0.76      0.74       374

    accuracy                           0.74       748
   macro avg       0.74      0.74      0.74       748
weighted avg       0.74      0.74      0.74       748